<div class="card-receta-content">
    <i class="fa-solid fa-bookmark fa-2xl bookmark" *ngIf="receta?.guardada"></i>
    <img src="{{receta?.imagen}}" (click)="openPopUp()" alt="">
    <div class="info-receta">
        <div class="nombre-categoria">
            <p id="nombre">{{receta?.nombre}}</p>
            <p id="categoria">{{receta?.categoria}}</p>
        </div>

        <div class="area-guardar-receta">
            <p id="area">{{receta?.area}}</p>
            <i class="fa-solid fa-circle-plus fa-lg" *ngIf="!receta?.guardada" (click)="guardarReceta()"></i>
        </div>
    </div>
</div>
