.contenedor-crear-receta {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;

    overflow: hidden;
}

h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 40px;
}

.contenedor-formulario {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 1fr 2fr auto;

}

.contenedor-imagen {
    grid-column: 1;
    grid-row: 1;

    height: auto;
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenedor-imagen img {
    max-width: 12em;
}

.contenedor-info {
    grid-column: 2;
    grid-row: 1;

    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.contenedor-ingredientes {
    grid-column: 1;
    grid-row: 2;

    height: 12em;
    width: 80%;

    display: flex;
    flex-direction: column;

    margin-top: 1em;
    margin-left: 1.1em;
}

.contenedor-preparacion {
    grid-column: 2;
    grid-row: 2;

    height: 24em;
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 1em;
}

textarea {
    resize: none;
    margin-top: 0.8em;
    border-radius: 11px;
    border: 1px solid #d3d3d3;

    padding: 0.5em;
    font-family: inherit;
    font-size: large;
}

textarea:focus {
    outline: none;
    border-color: #ffe7b8;
    border-width: 2px;

}

.contenedor-preparacion div {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    margin: 2em;
    width: auto;
    padding: 0.5em 1em 0.5em 1em;

    font-family: inherit;
    font-size: 20px;

    border-radius: 50px;
    border: none;
    cursor: pointer;

    background-color: #ffefce;
}

input[type="submit"]:hover {
    background-color: #ffe7b8;
}


input[type="text"] {
    font-size: large;
    font-family: inherit;

    padding: 0.4em;
    margin-top: 0.4em;

    border-radius: 11px;
    border: 1px solid #d3d3d3;
}

input[type="text"]:focus {
    outline: none;
    border-color: #ffe7b8;
    border-width: 2px;
}

label {
    margin-top: 0.5em;
    font-size: 20px;
}

input[type="file"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ingrediente-cantidad {
    display: flex;
    gap: 1em;
}

.ingredientes {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cantidades {
    width: 20%;
    display: flex;
    flex-direction: column;
}

small {
    color: #E2A8A8;
    text-align: start;
}