<app-header></app-header>
<div class="sub-header">
    <app-buscador #buscador (recetasBuscadasCambio)="onCambioRecetasBuscadas($event)"></app-buscador>
    <a id="boton-mis-recetas" routerLink="/mis-recetas" >Mis Recetas</a>
</div>

<div class="grid-recetas" *ngIf="recetasBuscadas.length != 0">
    <app-card-receta *ngFor="let recetaLista of recetasBuscadas" [receta]="recetaLista"></app-card-receta>
</div>

<div class="grid-recetas" *ngIf="recetasBuscadas.length == 0">
    <app-card-receta *ngFor="let recetaLista of listaRecetasRandom" [receta]="recetaLista"></app-card-receta>
</div>


