<app-header></app-header>

<div class="mis-recetas-contenido">
    <div class="mis-recetas-sub-header">
        <h1>Mis Recetas</h1>
        <app-buscador></app-buscador>
        <a id="boton-crear-receta" routerLink="/crear-receta">Crear Receta</a>
    </div>

    <div class="contenedor-recetas-creadas">
        <h2>Recetas creadas</h2>
        <p id="mensaje-crear-recetas" *ngIf="recetasCreadas.length == 0">¡Crea tu primera receta!</p>
        <div class="grid-recetas">
            <app-card-receta *ngFor="let receta of recetasCreadas" [receta]="receta" [esCreada]="true"></app-card-receta>
        </div>
    </div>


    <div class="contenedor-recetas-guardadas">
        <h2>Recetas guardadas</h2>
        <p id="mensaje-no-recetas" *ngIf="recetasGuardadas.length == 0">Empieza a explorar y guardar nuevas recetas</p>

        <div class="grid-recetas">
            <app-card-receta *ngFor="let receta of recetasGuardadas" [receta]="receta" [esCreada]="false"></app-card-receta>
        </div>
    </div>

</div>