.mis-recetas-sub-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1em;

    align-items: center;
}

.mis-recetas-contenido {
    padding-left: 2em;
    padding-right: 2em;
}




h1 {
    margin: 0;
    font-size: 40px;
}

h2 {
    color: #444444;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 30px;
    padding-left: 0.5em;
}


#boton-crear-receta {
    grid-column: 3;
    justify-self: end;
    align-self: center;
    padding-right: 3em;

    font-size: x-large;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#boton-crear-receta:hover {
    text-decoration: underline;
}


.grid-recetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 1em;
    row-gap: 2em;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;

    overflow: hidden;
}